/* Accent: rgb(151,251,252) */
/* Lighter: rgb(180,249,250) */
/* Darker: rgb(44,199,201) */
/* Darkest: rgb(4,159,161) */

body, html {
    margin: 0;
    padding: 0;
    background: var(--vyzon-full-bg);
}
md-dialog {
    min-width: 600px;
}
md-icon {
    font-family: 'Material Symbols Rounded';
    color: var(--vyzon-text);
}
md-menu {
    z-index: 100000;
    position: fixed;
}
.delpasswordbtn {
    --md-sys-color-primary: rgb(255,100,100);
}
.contentHolder {
    width: 100%;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    height: calc(100% - 100px);
    width: calc(100% - 40px);
}
.content.cstarted {
    height: calc(100% - 130px);
}
.topbtn {
    height: 56px;
    width: 56px;
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--vyzon-accent-15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--vyzon-outline);
    border-bottom: 1px solid var(--vyzon-text);
    cursor: pointer;
}
.taskswrapper {
    width: 100%;
    max-width: 700px;
    max-height: 500px;
    aspect-ratio: 7 / 5;
    position: relative;
}
.tasks {
    width: 100%;
    height: calc(100% - 56px);
    background: var(--vyzon-bg);
    border-radius: 20px;
    transition: all 0.3s;
    outline: 1px solid var(--vyzon-outline);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding-top: 56px;
    position: absolute;
}
#taskholder {
    width: 100%;
}
.task {
    padding: 15px;
    border-bottom: 1px solid var(--vyzon-outline-hard);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 30px);
    position: relative;
}
.task:last-child {
    margin-bottom: 100px;
}
.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    font-family: 'Roboto';
    padding: 5px;
    color: var(--vyzon-text);
}
.datetext {
    align-items: center;
    display: flex;
}
.datetext:not(:empty)::before {
    font-size: 15px;
    font-variation-settings:
        'FILL' 1;
    color: var(--vyzon-text);
    font-family: "Material Symbols Rounded";
    content: "calendar_month";
    margin-right: 3px;
}
.daterelative {
    font-size: 12px;
    color: var(--vyzon-text-soft-alt);
}
.daterelative.repeatnotify:before {
    font-size: 12px;
    font-variation-settings:
        'FILL' 1;
    color: var(--vyzon-text-soft-alt);
    font-family: "Material Symbols Rounded";
    content: "repeat";
    margin-right: 3px;
}
.task md-radio {
    margin-right: 15px;
}
.task .tlabel {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: var(--vyzon-text-hard);
}
.task .descript {
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    color: var(--vyzon-text);
}
.addbtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.feedbtn {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.topmenu {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--vyzon-bg);
    height: 60px;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--vyzon-outline);
    z-index: 1;
}
.menubtn {
    --md-outlined-icon-button-container-height: 40px;
    --md-outlined-icon-button-container-width: 40px;
    --md-outlined-icon-button-icon-size: 25px;
    --md-sys-color-outline: transparent;
    margin-left: 8px;
    margin-right: 5px;
}
.menutitle {
    font-family: 'Roboto';
    font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: var(--vyzon-text);
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 50px;
}
.modeselect {
    color: var(--vyzon-text-soft-alt);
    margin-left: 0.25em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.modeselect button {
    background-color: transparent;
    border: none;
    color: var(--vyzon-text);
    background: var(--vyzon-bg-alt);
    padding: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: 1px solid var(--vyzon-outline);
}
.modeselect button md-icon {
    font-size: 20px;
}
.modeselect button:hover {
    background: var(--vyzon-bg);
    transition: background 0.3s;
}
.probox {
    background: 
        radial-gradient(circle at 20% 30%, red, transparent 40%),
        radial-gradient(circle at 80% 40%, orange, transparent 50%),
        radial-gradient(circle at 50% 70%, yellow, transparent 50%),
        radial-gradient(circle at 70% 90%, green, transparent 40%),
        radial-gradient(circle at 30% 80%, blue, transparent 50%),
        rgba(255, 0, 0, 0.75);
    background-blend-mode: screen;
    padding: 5px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 3px;
    margin-bottom: 15px;
    display: none;
}
.pro {
    color: white;
    font-weight: 900;
    font-size: 13px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    width: 100%;
}
.beta {
    font-size: 15px;
    margin-left: 3px;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(75deg, #ff00dd, #5d00ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    display: none;
}
.group {
    display: flex;
    align-items: top;
    gap: 8px;
}
.group md-outlined-button, .group md-filled-button {
    height: 56px;
    width: 56px;
    --md-outlined-button-container-shape: 6px;
}
.group md-outlined-button md-icon, .group md-filled-button md-icon {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-variation-settings:
        'FILL' 1;
    color: var(--vyzon-text);
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
}
.iconselect {
    width: 50px;
    height: 50px;
}
.iconselect md-icon {
    font-size: 28px;
    margin-top: 5px;
    font-variation-settings:
        'FILL' 1;
    color: var(--vyzon-text);
}
.friendadd {
    width: 50px;
    height: 50px;
    --md-filled-button-container-shape: 6px;
}
.friendadd md-icon {
    font-size: 28px;
    margin-top: 0px;
    font-variation-settings:
        'FILL' 1;
    color: white !important;
}
.desc {
    margin-top: 10px;
    resize: none;
}
*[slot=content] {
    margin-top: -10px;
}
.notasks {
    font-family: 'Roboto';
    color: var(--vyzon-text-soft-alt);
    font-size: 15px;
    margin-top: 10px;
    display: none;
}
#acc-anchor {
    margin-right: 10px;
}
#acc-anchor md-icon {
    font-size: 25px;
}
md-menu {
    width: 1000px;
}
.listselect {
    width: calc(100% - 56px);
    position: absolute;
    top: 0;
    left: 0;
}
.pfp {
    height: 40px;
    margin-right: 3px;
    border-radius: 50%;
}
.requests, .friends {
    margin-top: 5px;
    color: var(--vyzon-text-soft);
}
.request, .friend {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    display: flex;
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid var(--vyzon-outline);
    color: var(--vyzon-text);
}
.rname {
    cursor: pointer;
}
.request md-filled-icon-button, .friend .menuwrap, .request md-icon-button {
    margin-left: auto;
}
.floaddiv {
    display: flex;
    justify-content: center;
}
.roaster {
    color: var(--vyzon-text-hard);
    width: 100%;
    font-weight: bold;
    display: block;
}
.sectionhead {
    color: var(--vyzon-text);
}
.ferror {
    color: red;
    margin-top: 10px;
}
.switchlabel {
    font-size: 18px;
}
.switch {
    display: flex;
    align-items: center;
}
.switch:not(:first-child) {
    margin-top: 10px;
}
.switch md-switch {
    margin-left: auto;
}
.competition {
    font-family: 'Roboto';
    outline: 1px solid var(--vyzon-outline);
    padding: 2px 5px;
    color: var(--vyzon-text);
    left: 25%;
    right: 25%;
    position: absolute;
    display: none;
    align-items: center;
    top: 60px;
    width: calc(50% - 10px);
    height: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 1px;
    cursor: pointer;
}
.cripple {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cstarted + .competition {
    display: flex;
}
.cname {
    font-size: 10px;
}
.indicator {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.names {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40vw;
    position: absolute;
    right: 5px;
}
.progress md-linear-progress {
    --md-linear-progress-track-height: 7px;
    --md-linear-progress-active-indicator-height: 8px;
    --md-linear-progress-track-shape: 8px;
    --md-linear-progress-active-indicator-color: rgb(234,213,24);
    --md-linear-progress-track-color: rgb(234,213,24,0.35);
    width: 100%;
}
.progress md-linear-progress:first-child {
    margin-top: 3px;
}
.progress md-linear-progress:not(:first-child) {
    margin-top: -2px;
}
.cwl {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(0,0,0,0.5);
    border-radius: 10px;
    font-size: 17px;
    display: none;
    animation: fadein 1s;
}
.stats {
    cursor: pointer;
}
@keyframes fadein {
    from { opacity: 0% }
}
.winreveal {
    display: none;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}
.winname {
    font-size: 13px;
    color: var(--vyzon-text-hard);
    text-align: center;
}
.tdismiss {
    display: none;
}
.competitionbutton {
    --md-sys-color-primary: rgb(255,200,0);
}
#sendFeedback, #sendFeedbackConfirm {
    --md-sys-color-primary: rgb(160,50,255);
}
#sendFeedbackForm md-outlined-select, md-outlined-text-field {
    width: 100%;
    --md-menu-item-selected-container-color: rgb(160,50,255,0.25);
}
#friendRequests {
    background: var(--vyzon-accent);
    color: white;
    font-family: 'Roboto';
    font-size: 12px;
    border-radius: 50%;
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    pointer-events: none;
}
.reloadbtn {
    position: absolute;
    right: 20px;
    top: 20px;
}
.lsub {
    font-size: 13px;
    color: var(--vyzon-text-soft-alt);
    display: flex;
    align-items: center;
    margin-bottom: -2px;
}
.lsub md-icon {
    font-size: 17px;
    margin-right: -1px;
    margin-left: -5px;
    color: var(--vyzon-text);
}
.settingsGroup {
    display: none;
}
#settingsOptions {
    margin-bottom: 10px;
}
#colorHolder {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}
.colorIcon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
    border: none;
}
.colorIcon:active {
    transform: scale(0.95)
}
#etempid {
    display: none;
}
.priorityt {
    font-weight: 900 !important;
}
.compstatbar {
    --md-linear-progress-track-height: 20px;
    --md-linear-progress-active-indicator-height: 20px;
    --md-linear-progress-track-shape: 20px;
    --md-linear-progress-active-indicator-color: rgb(234,213,24);
    --md-linear-progress-track-color: rgb(234,213,24,0.35);
    display: block;
}
.numstat {
    display: block;
    width: 100%;
    text-align: right;
}
#nVContent p {
    margin: 0;
}
.ntaskicon {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ntaskicon md-icon {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ntaskicon.descicon md-icon {
    margin-top: -30px;
}
#calendargrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: fit-content;
    padding: 10px;
    justify-content: start;
    margin-left: 20px;
}
.calendarbox {
    flex-basis: calc((100% / 7) - 10px - calc(10px / 7));
    aspect-ratio: 1 / 1;
    height: fit-content;
    font-size: 20px;
    background: var(--vyzon-accent-25);
    color: var(--vyzon-text);
    font-family: 'Roboto';
    font-weight: 400;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    column-gap: 10px;
    animation: opacitymovein 1s;
    cursor: pointer;
}
.calendarbox.cbtoday {
    background: var(--vyzon-accent);
    color: var(--vyzon-text-on-accent);
    font-weight: 600;
}
.calendarbox.cbempty {
    background: transparent;
}
.calendarbox .daynum {
    position: absolute;
    top: 7px;
    left: 10px;
}
.monthname {
    font-family: "Roboto";
    color: var(--vyzon-text);
    font-size: 30px;
    width: 100%;
    border-bottom: 1px solid var(--vyzon-outline);
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
}
#mnmonth {
    font-weight: bold;
}
.forwardbackbuttons {
    display: flex;
    margin-left: auto;
    gap: 5px;
}
.weeknames {
    display: flex;
    width: calc(100% + 10px);
    max-width: 1010px;
}
.weekname {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    color: var(--vyzon-text-soft-alt-2);
    margin-bottom: 5px;
    text-transform: uppercase;
    transform: scaleY(0.85);
    letter-spacing: .1em;
}
.weeknames.wlarge {
    display: flex;
}
.weeknames.wsmall {
    display: none;
    font-size: 13px;
}
.minitasks {
    margin-top: 30px;
    padding: 3px;
    display: flex;
    gap: 2px;
    flex-direction: column;
    overflow: auto;
    aspect-ratio: 1.5 / 1;
    margin-bottom: -2px;
}
.minitask {
    background: rgba(0,0,0,0.5);
    color: var(--vyzon-text-on-accent);
    font-family: "Roboto";
    font-size: 12px;
    padding: 2px;
    font-weight: 400;
    border-radius: 5px;
}
.calbadge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -10px;
    background: rgb(255,100,100);
    color: white;
    font-family: "Roboto";
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
}
.noanim {
    animation: none !important;
}
@keyframes opacitymovein {
    from {
        opacity: 0%;
        transform: translateX(50%)
    }
}
#chWhiteboard {
    align-items: center;
    justify-content: center;
    display: flex;
    height: calc(100% - 100px);
}
#whiteboardcontent {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    width: 700px;
    margin-right: -20px;
    height: fit-content;
    margin-top: 10px;
    overflow-y: auto;
}
.whiteboardbox {
    border: 3px solid var(--vyzon-accent);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
    flex-basis: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.whiteboardname {
    font-size: 15px;
    font-family: "Roboto";
    color: var(--vyzon-text-soft-alt);
}
.whiteboardtask {
    font-size: 20px;
    font-family: "Roboto";
    color: var(--vyzon-text-hard);
    padding: 2px;
    padding-left: 4px;
    border-radius: 10px;
    outline: 1px dashed transparent;
    transition: outline 0.3s;
    cursor: pointer;
}
.whiteboardtask:before {
    content: "- ";
    color: var(--vyzon-text-soft-alt);
}
.whiteboardtask:hover {
    outline: 1px dashed var(--vyzon-outline);
}
.notaskswhiteboard {
    font-size: 13px;
    font-family: "Roboto";
    color: var(--vyzon-text-soft-alt);
}

.profilebtn {
    margin-left: auto;
}
#profile {
    --md-sys-color-on-surface: white;
    --md-sys-color-on-surface-variant: rgb(200,200,200);
}
#profile div[slot=headline] {
    margin: 10px;
    padding-bottom: 20px;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: -20px;
}
#pfabtme {
    margin: -10px;
    margin-top: 20px;
    margin-bottom: -5px;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    border-radius: 15px;
    white-space: pre;
}
#pfabtme:focus {
    outline: none;
    border: none;
}
.accountoptions {
    width: 100%;
    display: none;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.editColor {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.editColor::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 10px;
    background: none;
}
.editColor::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
}
.editFont {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: rgba(0,0,0,0.5);
    width: 90px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-family: "Roboto";
    font-size: 14px;
    text-align: center;
}
.colorOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
#resetColorBtn {
    height: fit-content;
    display: none;
}

/* Mobile */
@media (max-width: 700px) {
    body, html {
        background: var(--vyzon-full-bg);
    }
    .content {
        width: 100%;
        height: calc(100% - 60px);
        padding: 0px;
    }
    .content.cstarted {
        height: calc(100% - 95px);
    }
    .topmenu {
        box-shadow: inset 0 -1px 0 0 var(--vyzon-outline);
    }
    .taskswrapper {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        outline: none;
        background: transparent;
    }
    .tasks {
        border-radius: 0px;
    }
    .notasks {
        margin-top: 10px;
    }
    .addbtn {
        bottom: 40px;
        right: 10px;
    }
    .feedbtn {
        bottom: 40px;
        left: 10px;
    }
    .competebtn {
        bottom: 100px;
    }
    .tdismiss {
        display: inline;
    }
    .cdismiss {
        display: none;
    }
    .cfields {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cfields md-outlined-select {
        max-width: 100%;
        min-width: 100%;
    }
    .cfields md-outlined-text-field {
        max-width: 100%;
        min-width: 100%;
    }
    * {
        -webkit-user-select: none;
        user-select: none;
    }
    .progress {
        width: 75vw;
    }
    .competition {
        width: calc(100% - 10px);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-top: 0px;
        left: 0;
        right: 0;
    }
    .cripple {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .monthname {
        padding: 8px;
        width: calc(100% - 16px)
    }
    #chCalendar .content {
        height: 100%;
        top: 60px;
        width: 100%;
    }
    #calendargrid {
        overflow: hidden;
    }
    .calendarbox {
        aspect-ratio: 1 / 1;
        border-radius: 10px;
    }
    .calendarbox .daynum {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .weeknames.wlarge, .minitasks, .moreindicator {
        display: none;
    }
    .weeknames.wsmall, .calbadge {
        display: flex;
    }
    #whiteboardcontent {
        width: 100%;
    }
}
@media (max-width: 700px) {
    md-dialog {
        min-width: 90%;
    }
}